<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ninja_04_arm_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,313},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>ninja_04_arm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,525},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>ninja_04_arm_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,565},{36,25}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{36,25}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>ninja_04_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,551},{28,30}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{28,30}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>ninja_04_chibang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,583},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>ninja_04_chibang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,475},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>ninja_04_chibang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,178},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>ninja_04_ear.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,366},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>ninja_04_eye_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,539},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>ninja_04_eye_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,475},{17,13}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>ninja_04_eye_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,494},{15,11}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{15,11}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>ninja_04_eye_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,159},{17,13}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>ninja_04_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,0},{157,231}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{157,231}}</string>
                <key>sourceSize</key>
                <string>{183,325}</string>
            </dict>
            <key>ninja_04_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{157,233}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{157,233}}</string>
                <key>sourceSize</key>
                <string>{183,325}</string>
            </dict>
            <key>ninja_04_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,316},{157,209}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{157,209}}</string>
                <key>sourceSize</key>
                <string>{183,325}</string>
            </dict>
            <key>ninja_04_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{155,213}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{155,213}}</string>
                <key>sourceSize</key>
                <string>{183,325}</string>
            </dict>
            <key>ninja_04_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,159},{155,217}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{155,217}}</string>
                <key>sourceSize</key>
                <string>{183,325}</string>
            </dict>
            <key>ninja_04_fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{155,231}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{155,231}}</string>
                <key>sourceSize</key>
                <string>{183,325}</string>
            </dict>
            <key>ninja_04_hair_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,366},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>ninja_04_hair_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,444},{75,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,69}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>ninja_04_hair_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,278},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{33,56}</string>
            </dict>
            <key>ninja_04_hair_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,509},{37,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,66}}</string>
                <key>sourceSize</key>
                <string>{37,66}</string>
            </dict>
            <key>ninja_04_leg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,593},{36,24}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{36,24}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,601},{30,22}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{30,22}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,587},{30,34}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{30,34}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,587},{30,32}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,8},{30,32}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,597},{34,38}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,3},{34,38}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,148},{28,42}}</string>
                <key>offset</key>
                <string>{20,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{28,42}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,72},{38,42}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,12},{38,42}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,565},{30,36}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,18},{30,36}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,565},{34,40}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{34,40}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,32},{42,38}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{42,38}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{44,30}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{44,30}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,316},{48,24}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{48,24}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,473},{52,50}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{52,50}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,112},{34,42}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,11},{34,42}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,539},{46,48}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{46,48}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,226},{56,50}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{56,50}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,475},{64,48}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,475},{68,32}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,32}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,515},{62,34}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,34}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,525},{50,38}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{50,38}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,551},{40,46}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,3},{40,46}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,548},{38,48}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{38,48}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,566},{36,48}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_leg_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,515},{36,48}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,1},{36,48}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>ninja_04_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,603},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>ninja_04_trun.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,473},{151,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,140}}</string>
                <key>sourceSize</key>
                <string>{151,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ninja_04.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f047b9e9f4590c24bcee48243a8cbf77$</string>
            <key>textureFileName</key>
            <string>ninja_04.png</string>
        </dict>
    </dict>
</plist>
